/* =============
    Typography
============= */

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

header{
    font-family: 'Crimson Pro', serif;
    font-size: 30px;
    text-align: center;
}

h2{
    text-align: center;
    margin: 30px;

    @include lg{
        font-size: 36px;
    }
}
