/* =============
    Typography
============= */

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

header{
    font-family: 'Crimson Pro', serif;
    font-size: 36px;
    text-align: center;
}

h2{
    text-align: center;
}



