/* =============
    Projects
============= */


.project-section {
    p:first-child {
        max-width: 860px;
        margin: 60px auto 100px;
    }
    a {
        text-decoration: none;       
    }
    figure {
        padding-bottom: 25px;
    }
    .view-img {
        margin-top: 70px;
        padding-bottom: 0;
    }
}

.p-text{
    font-size: 24px;
    text-align: center;
    padding: 20px 130px;
}

.link{
    color: $brown;
}

.slide{
    padding: 5% 40% 5% 40%;
}