​​/* =============
   Header
============= */


.mobile-nav{
   .burger{
       @include lg{
           display: block;
       }
   }
}

.hero-text{
   font-size: 24px;
   text-align: center;
   padding: 20px 130px;
}

.top{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-items: baseline;
   align-content: center;
 }


.navbar{
   display: none;

   @include lg{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      background-color: #BF6042;
      height: 100px;
   }
}

.sectiondivider{
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-around;
       align-items: center;
       align-content: stretch;
}

.line1{
   grid: flex;
   justify-content: flex-start;
}


.line2{
   align-self: right;
}
